{% extends '::base.html.twig' %}

{% block title %}TestBundle{% endblock title %}

{% block page_title %}TestBundle{% endblock page_title %}

{% block body %}
    {% if app.session.flashbag.get('success') is not empty or app.session.flashbag.get('info') is not empty %}
	<section>
            <ul>
		{% for msg in app.session.flashbag.get('success') %}
                    <p class="text-success">{{ msg|nl2br }}</p>
		{% endfor %}
            </ul>
            <ul>
		{% for msg in app.session.flashbag.get('danger') %}
                    <p class="text-danger">{{ msg|nl2br }}</p>
		{% endfor %}
            </ul>
	</section>
        {% endif %}
	<section>
		<article>
			{% block article %}{% endblock article %}
		</article>
	</section>
{% endblock body %}
