

{% block article %}
	<h2>Ajouter une commande</h2>
        <a href="{{ path('homepage') }}">Retour</a>
        <hr />
        <form method="post" action="{{ path('order_add') }}"
              {{ form_enctype(form) }}>
            {{ form(form) }}
        </form>
{% endblock article %}