{% extends 'TestBundle::layout.html.twig' %}

{% block article -%}
    <h1>Liste des commandes</h1>
    <p><a href="{{ path('order_add') }}">Ajouter un produit</a></p>
        <hr/>

    {{ grid_search(grid) }}
    {{ grid(grid) }}

{% endblock article %}
